<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>404 Not Found</title>
  </head>
  <body id='404-cont'>
    <h1>404: Page Not Found</h1>
    <img src='images/404.gif' alt='gif from Mean Girls movie' />
    <p>Do you even go here?</p>
    <a href='/'>Go back to the main page</a>
  </body>
</html>