<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Cocktail Name
          <input type="text" placeholder="Name">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Cocktail Ingredients
          <input type="text" placeholder="Ingredients">
        </label>
      </div>
    </div>
  </div>
</form>