<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cocktails</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    {{#each recipes}}
      <div class="card">
        <h2>{{this.name}}</h2>
        <p>{{this.ingredients}}</p>
        <p>{{this.instructions}}</p>
      </div>
    {{/each}}
  </div>
</body>
</html>
