
<body>
  <div class="container">
    {{#each recipes}}
      <div class="card">
        <h2>{{this.recipe_name}}</h2>
        <p>{{this.recipe_content}}</p>
      </div>
      <div class="card-footer">
        <button class="favorite-button">Favorite</button>
      </div>
    {{/each}}
  </div>
</body>
