<div class='posts'>
  {{#each post}}
    <div class='card'>
      <div class='card-header'>
        <h2>
          <a href='/post/{{id}}'>{{title}}</a>
        </h2>
        <p>Created by
          {{this.User.username}}
        </p>
      </div>
      <div class='card-body'>
        <p>
          {{Recipe}}
        </p>
      </div>
    </div>
  {{/each}}
</div>