{{! Styling for login }}
<div class="card" id="login-card">
  <div class="card-header" id="login-card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div class="login-input">
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div class="login-input">
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <div id="login-footer">
      <button type="submit" id="login-btn" class="btn">Login</button>
      <a type="button" href="/signup" id="signup-button">Sign up instead</a>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>