<div class="login-container" id="login-container">
<div id="signup-form">
    <h2>Sign Up</h2>
    <form>
        <div class="form-group">
            <label for="new-username">Username:</label>
            <input type="text" id="new-username" name="new-username" required>
        </div>
        <div class="form-group">
            <label for="new-password">Password:</label>
            <input type="password" id="new-password" name="new-password" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login" id="show-login">Login</a></p>
</div>
</div>
<script src="/js/signup.js"></script>